/*=========== Body Configuration ============*/

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #454d55;
}


/*============= TOP BAR HEADER =============*/

.top-bar {
    background: orange;
    height: 2.8rem;
    padding: 0.5rem 0;
}

.top-bar a {
    color: #454d55;
    text-decoration: none;
    font-size: 1.2rem;
}


/*============= NAV =============*/

.navbar-brand img {
    height: 3rem;
}

.navbar {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-item {
    padding: 0.5rem;
}

.nav-link {
    color: #5b5555!important;
}

.nav-link.active,
.nav-link:hover {
    color: #4981b3!important;
}


/*============= FOOTER =============*/

footer {
    background-color: orange;
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 4rem;
    margin: 1.5rem auto;
}

footer p,
footer a,
.socket a {
    color: #454d55;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}

ul.social li {
    margin: 0 auto;
}

footer .svg-inline--fa {
    font-size: 3rem;
}

footer .svg-inline--fa:hover {
    color: #d26876;
}



/*============= MEDIA QUERIES (IMPORTED FROM ELSEWHERE, OF COURSE) =============*/


/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {
    .carousel-caption h1 {
        font-size: 2.8rem;
    }
    .carousel-caption h3 {
        font-size: 1.8rem;
    }
}


/* Devices under 768px (md) */

@media (max-width: 767.98px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }
    .carousel-caption h3 {
        font-size: 1rem;
    }
    .btn-lg {
        font-size: .95rem;
    }
}


/* Devices under 1199px (xl) */

@media (max-width: 1199.98px) {}


/* Devices under 768px (md) */

@media (max-width: 767.98px) {}


/*== Preventing Potential Bootstrap Mobile Gutter Problems ==*/

.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


/*-- Fix Background Image --*/

.fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}

.fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}